<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat-Da-Burger!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    <figure class='image is-128x128' style='margin: 0 auto'>
                        <img src="../../img/burger.png">
                    </figure>
                    <br>
                    <p class="subtitle">
                        <strong>EAT-DA-BURGER!</strong>
                    </p>
                </div>
            </div>
        </div>

        {{{ body }}}

    </section>
</body>
</html>